@import "../../../../Styles";
.callBackBTN{
  position: fixed;
  background-color: $brown;
  color: white;
  right: 30px;
  bottom: 30px;

  //width: 150px;
  //height: 150px;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  z-index: 100;
  span{
    margin: auto;
    width: max-content;
    height: max-content;
  }

}