@import "../../Styles";
@import "../../screens";

.greenBlock{
  width: 100%;
  background-color: $green;
  display: block;
  //height:300px;
    box-shadow: 3px 3px 3px 3px rgba(104, 104, 104, 0.24);
  &_container{
    width: 80%;
    margin: auto;
    padding: 30px 0 30px 0;


  }
  &_line{
    height: 4px;
    background-color: white;
    border-radius: 4px;
  }

  &_title{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
  }

  &_description{
    margin: 30px 0px;
    color: white;
    font-size: 18px;
    li{
      margin: 15px 0px;
      font-size: 18px;
    }
  }
  @media screen and (max-width: $small) {
    height: 580px;

  &_container {
    width: 90%;
  }
  &_description{

    //font-size: 14px;
    li{
      margin: 15px 0px 15px -8px;
      font-size: 19px;
    }
  }
  }

  @media screen and (max-width: $medium) {}

}