.reInput{
  &_container{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;


  }
  &_title{
    font-size: 20px;
    margin-bottom: 5px;
  }
  &_title-White{
    color: white;
  }
  &_input{

    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    &:focus{
              outline: none;

      box-shadow: none;
    }
  }
}