@import "../../screens";
@import "../../screens";
@import "../../mixins";
.activityPost{
  &_container{
    @include insideBorderPC;
    display: flex;
    flex-direction: column;
    img{
      //width: 300px;
      height: 400px;
      object-fit: cover;
    }
  }
}