@import "../../Styles";
@import "../../screens";

.goal {
  margin-bottom: 100px;
  &_container {
    width: 80%;
    margin: 0px auto 20px auto;
  }
  &_elem1 {
    width: 100%;
    background-color: $brown;
    height: 70px;
    display: flex;
  }

  &_elem2 {
    width: 100%;
    background-color: $green;
    height: 500px;
    display: flex;
    margin: auto;
    font-size: 20px;
    color: white;
    span {
      margin: 20px 40px 20px 40px;
    }
  }

  &_elem3 {
    width: 100%;
    background-color: #a1766b;
    height: 70px;
    display: flex;

    a {
    color: black !important;
      text-decoration: none !important;
    }
  }
  &Title {
    color: white;

    font-size: 30px;
    margin: auto;
    display: block;
    width: fit-content;
    height: fit-content;
  }

  @media screen and (max-width: $small) {
    &_container {
      width: 90%;
      margin: 0px auto 20px auto;
    }
  &_elem2 {
    font-size: 18px;
    span {
      margin: 15px 20px 15px 20px;
    }
  }
  }

  @media screen and (max-width: $medium) {
  }
}
