@import "../../Styles";
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  &_container {
    width: 100%;
    height: 100px;
    background-color: $brown;
  }
}

.footerMock{
  width: 100%;
  height: 120px;
  z-index: 0;
}