@import "../../mixins";
@import "../../screens";
@import "../../Styles";
.effect{

  height: 900px;
  width: 100%;
  position: relative;
  z-index: 1;
  clip-path: inset(0 0 0 0);


  &_container{}
  &_absoluteBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    //top: 10px;
    bottom: 0px;
    z-index: 0;
    img{
      margin-top: 70px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &_borderElement{
    &Top{
      position: absolute;
      top:0px;
      background-color: $green;
      width: 100%;
      display: flex;
      height: 250px;
      background-color:  $green;
      z-index: 2;


    };
    &Bottom{

      position: absolute;
      bottom:0px;
      background-color:  $green;
      width: 100%;
      display: flex;
      height: 250px;
      background-color:  $green;
      z-index: 1;
    };
    &Content{
      color: white;
      @include insideBorderPC
    }
  }
  @media screen and (max-width: $medium) {
  height: 1200px;

    &_borderElement{
    &Top{
      height: 300px;
    };
    &Bottom{

      height: 300px;
    };
    &Content{
      @include insideBorderMobile
    }
  }
  }

   @media screen and (max-width: $small) {
  height: 1300px;

    &_borderElement{
    &Top{
      height: 430px;
    };
    &Bottom{

      height: 430px;
    };
    &Content{
      @include insideBorderMobile
    }
  }
  }


}