.gradientBlock {
  width: 80%;
  color: #000000;
  font-size: 26px;
  font-family: Imbue;
  margin: 40px auto  70px auto;
  //background-color: ;
  background: linear-gradient(180deg, rgba(249,249,249,0) 10%, rgba(227,227,227,1) 69%);

  box-shadow: 20px 20px 10px 5px rgba(0, 0, 0, 0.38);
  padding: 10px;
  border-radius: 15px;

  &_container{
    margin: 20px;
  }
}
