//$green : #708073;
//$green : #3B5A45;
$green : #5a6c5a;
//$green : #265734;

$green_light : #42945e;
//$green_dark : #2e4636;
//$green_dark : #254b31;
$green_dark : #435643;
//$green_darker : #293f32;
//$green_darker : #244130;
$green_darker : #2a3f32;
$red : #E2635D;
$white : #ffff;
$beige : #D1C5B8;
$default : #ffff;
//$default_dark : #9c9286;
$default_dark : #342f2a;
//$brown : #665344;
$brown : #232323;


$greyModalBackground:rgba(86, 86, 86, 0.7);