//$green : #607768;
$green : #3B5A45;
$green_light : #42945e;
$green_dark : #2e4636;
$green_darker : #293f32;
$red : #E2635D;
$white : #ffff;
$default : #D1C5B8;
$default_dark : #9c9286;
$brown : #665344;
