@import "../../Styles";
@import "../../screens";
.donate{
  &_container{
    width: 70%;
    padding: 20px 10px 20px 10px;
    margin: auto;
    background-color: $default_dark;
    border-radius: 10px;
  }
  &_title{
    color: white;
    font-size: 20px;
  }
  &_line{
    height: 4px;
    background-color: white;
    border-radius: 4px;
    margin: 15px;
  }
  &_valueBlock_container{
    display: flex;
    gap: 10px;
    margin: 10px 0px;
  }
  &_valueBlock{
    border-radius: 5px;
    border: 1px solid $red;
    background-color: $red;
    cursor: pointer;
    color: white;
    padding: 10px 20px ;
    display: flex;
    width: 100%;
    position: relative;
    &Title{
      margin: auto;
    }
    &_icon{
      display: block;
      width: 30px;
      margin: auto 0px auto auto;
    }
  }
  &_gooleDonate{
    width: max-content;
    margin: auto;
  }

  @media screen and (max-width: $small) {


  &_container{
    width: 85%;
  }

    &_valueBlock_container{
    width: 100%;
      border-radius: 10px;
      display: grid;
    grid-template-columns: 1fr 1fr;
      margin: 5px auto auto;
    }
  &_valueBlock {
    display: flex;

    width: 85% !important;
    margin: auto;
    padding: 5px 10px ;


  }

  }
  @media screen and (max-width: $medium) {
    &_valueBlock {
    //width: 80px;
    width: 100%;

    padding: 5px 10px ;


  }
  }


}