@import "../../screens";
.postSlider {
  position: relative;
  //width: 100%;
  height: 100%;
  //padding: 0px 120px;
  &_container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;

    h1 {
      margin: auto auto 20px auto;

      //margin-bottom: 40px;
    }
    span {
      text-align: center;
      margin-bottom: 20px;
    }
    &_controlArrowRight {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      z-index: 100;
      width: max-content;

      &__active {
        svg {
          height: 60px !important;
          transition-duration: 0.2s;
        }
      }
      svg {
        width: max-content;
        fill: rgba(255, 255, 255, 0.75);
        height: 50px;
        transition-duration: 0.2s;
      }
    }
    &_controlArrowLeft {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      z-index: 100;
      width: max-content;
      //transform: ;
      &__active {
        svg {
          height: 60px !important;
          transition-duration: 0.2s;
        }
      }
      svg {
        width: max-content;
        fill: rgba(255, 255, 255, 0.75);
        height: 50px;
        transform: rotate(180deg);
          transition-duration: 0.2s;

      }
    }
  }
  &_elem {
    &_active {
      transition-duration: 0.3s;
      position: absolute;
      height: 100%;
      width: 100%;
    }

    &_inactiveLeft {
      position: absolute;
      //height: 60%;
      //width: 70%;
      left: 90%;
      z-index: 0;

      margin: 0;
      //top: 50%;
      //-ms-transform: translateY(-50%);
      //transform: translateY(-50%);
      transform: scale(0.2);
    }

    &_activeLeft {
      position: absolute;
      height: 100%;
      left: 0%;
      z-index: 10;
      transition-duration: 0.4s;
      transform: scale(1);
    }

    &_inactiveRight {
      position: absolute;
      //height: 60%;
      //width: 70%;
      right: 90%;
      z-index: 0;

      margin: 0;
      //top: 50%;
      //-ms-transform: translateY(-50%);
      //transform: translateY(-50%);
      transform: scale(0.2);
    }

    &_activeRight {
      position: absolute;
      height: 100%;
      right: 0%;
      z-index: 10;
      transition-duration: 0.4s;
      transform: scale(1);
    }
  }
  @media screen and (max-width: $small) {
    &_container {
      position: relative;
      width: 100%;

      h1 {
        font-size: 20px;
        width: 100%;
        text-align: center;
      }
      span {
        display: none;
      }
    }
  }
}
